.announcement {
  background-color: #f5f5f5;

  &__wrapper {
    width: 83%;
    max-width: 2500px;
    padding-bottom: 50px;
    padding-top: 75px;
    margin: 0 auto;

    @media ($tablet) {
      width: 100%;
    }
  }

  &__title {
    font-family: $def_font;
    font-size: 28px;
    font-weight: 700;
    line-height: 32.43px;
  }

  &__form {
    flex-basis: 83%;
    text-align: right;
    //box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);

    @media ($tablet) {
      width: 100%;
    }
  }

  &__content {
    margin-top: 25px;
    display: flex;

    @media ($tablet) {
      display: block;
    }
  }

  &__validation {
    flex-basis: 14%;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    padding-left: 30px;

    @media ($tablet) {
      margin-top: 1rem;
      width: 100%;
      position: static;
    }
  }
}
