@import "typografy";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "extentions&mixins&variables";
@import "visually-hidden";

@import "blocks/radio-button";
@import "blocks/select";
@import "blocks/row";
@import "blocks/link-button";
@import "blocks/photo-input";
@import "blocks/input";
@import "blocks/todo-list";
@import "blocks/submit-button";
@import "blocks/textarea";
@import "blocks/form";
@import "blocks/annoucement";
